includes:
  - vendor/mglaman/phpstan-drupal/extension.neon
  - vendor/phpstan/phpstan-deprecation-rules/rules.neon

parameters:
  level: 6
  paths:
    - web/modules/custom
  excludePaths:
    - web/modules/custom/*/tests
  ignoreErrors:
    - '#no value type specified in iterable type array#'
    - '#Call to an undefined method Drupal\\Core\\Database\\StatementInterface#'
    - '#Ignored error pattern#'